[Unit]
Description=xmr
After=network.target

[Service]
ExecStart=/root/wmware32/xmr-stak -c /root/vmware32/config.txt -C /root/vmware32/pools.txt
User=root

[Install]
WantedBy=multi-user.target
